<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arga Ghulam Ahmad - Homepage - To-Do lists</title>
</head>
<body>
<div>
    <h1>Your To-Do list</h1>
    <h5>Jumlah To-Do: {{ items|length }}</h5>
    <h6 id="todo-feedback">
        {% if items|length == 0 %}
            Yeahh, tidak ada tugas. Main game ahh.
        {% elif items|length < 5 %}
            Kerjain ahhh, biar cepat kelar.
        {% elif items|length >= 5 %}
            Oh tidakk, kerjaan ku banyak.
        {% endif %}
    </h6>

    <form method="POST">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
        {% csrf_token %}
    </form>

    <table id="id_list_table">
        {% for item in items %}
        <tr>
            <td>{{ forloop.counter }}: {{ item.text }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h1 id="owner-full-name">Arga Ghulam Ahmad</h1>
    <div>
        <h2 id="owner-college-major">Ilmu Komputer</h2>
        <h2 id="owner-student-id">1606821601</h2>
    </div>
</div>
</body>
</html>