{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block todo_feedback %}
    <h5>Jumlah To-Do: {{ list.item_set.all|length }}</h5>
    <h6 id="todo-feedback">
        {% if list.item_set.all|length == 0 %}
            Yeahh, tidak ada tugas. Main game ahh.
        {% elif list.item_set.all|length < 5 %}
            Kerjain ahhh, biar cepat kelar.
        {% elif list.item_set.all|length >= 5 %}
            Oh tidakk, kerjaan ku banyak.
        {% endif %}
    </h6>
{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}